@import "tailwindcss";

/* STATE AWAL */
.reveal {
  opacity: 0;
}

/* ANIMASI */
@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* JALAN SAAT SCROLL */
.reveal.show.animate-left {
  animation: slideInLeft 1.2s ease forwards;
}

.reveal.show.animate-right {
  animation: slideInRight 1.2s ease forwards;
}

.reveal.show.animate-up {
  animation: slideInUp 1.2s ease forwards;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 35s linear infinite;
  /* will-change: transform; */
}